<section class="hero" style="user-select: none">
      <div class="hero-left">
         <div >
             <h5  style="color: gray">Welcome To Our Online Fashion Store</h5>
        <h2  style="color: gray" ><small><em>the new Collection Is Available</em></small> </h2>
        <h2 style="color: gray"><em>Click on Product to discover more</em></h2>
       
         </div>

        </div>
      <div class="hero-right">
  
     </div>

    </section>




    <!--
     <img src="../../../assets/images/redandpink.jpg" alt="portrait" />
      
    <div style="margin-top:15%">
                 <div className="social-icons">
  <a href="https://github.com/hadhemiifaoui" target="_blank" rel="noreferrer">
    <FaGithub size={32} />
  </a>
  <a href="https://linkedin.com/in/hadhemi-ifaoui" target="_blank" rel="noreferrer">
    <FaLinkedin size={32} />
  </a>
  <a href="https://mail.com/hadhemiifaoui35@gmail.com" target="_blank" rel="noreferrer">
    <FaEnvelope size={32} />
  </a>
</div>

            </div>-->