.card {
  transition: transform 0.2s, box-shadow 0.2s;
  width: 300px;
  margin-left: 2%;
  padding: 15px;

  border-radius: 6%;
  background-color: rgb(220, 215, 209);
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

:host {
  display: block;
  height: 100%;   
}