<nav>
  <a routerLink="/" style="margin-right: 20px; text-decoration: none; user-select: none; color: black;"> <strong>Home</strong></a>
  <a routerLink="/about" style="margin-right: 20px; text-decoration: none; user-select: none; color: black; "><strong>About</strong></a>
  <a routerLink="/contacts" style="margin-right: 20px; text-decoration: none; user-select: none;  color: black;"><strong>Contact</strong></a>
  <a routerLink="/products" style="text-decoration: none;  user-select: none;  color: black;"><strong>Products</strong></a>
</nav>


<!--<i class="bi bi-house" style="color: black; size: 30px;">-->