

<div class="fullscreen-bg" >
        <h1  > 
         bienvenue dans shopping store </h1>
     <p >
        Explorer nos article en cliquant sur l'onglet "Products"
     </p>
</div>
   





<!--
style="color: rgb(0, 0, 0); text-align: center; user-select: none;"
style="color: rgb(0, 0, 0); text-align: center; padding-top: 40vh;user-select: none;"
   <h1 style="user-select: none;">bienvenue dans Shopping Store 🛍️</h1>
<p style="user-select: none;">Explorez nos articles en cliquant sur l'onglet "Products"</p>

<img src="images/shopping.jpg" alt="Shopping Banner" width="1400" height="650" >
-->

